<!-- 
Title: Astronavigation UI 
Used In File(s): \code\modules\telesci\navconsoles.dm
 -->

<h3>Detected Systems:</h3>
<div class="item">
	<div class="itemContent">
		{^{:~link(systemname1, 'gear', {'setarget1': 1})}}
		{^{:~link(systemname2, 'gear', {'setarget2': 1})}}
	</div>
</div>
<h3>Current System:</h3>
<div class="item">
  <div class="itemContent">
    {^{if systemname}}
      System name: {{:systemname}} <br>
      Star Type:   
      {^{if systembinary}}
        Binary 
      {{else}}
    
      {{/if}}
      {{:systemtype}} <br>
      Star luminosity : {{:systemlum}} <br>
      {^{if systembinary}}
      Binary star luminosity : {{:systembinary}}
      {{else}}
      {{/if}}
    {{else}}
        Select a target to scan!
    {{/if}}
  </div>
  <div class="item">
	<div class="itemContentWide" style="width: 100%;">
    {^{for planets}}
      {{:planet_name}}
      {{:planet_orbit}} <br>
     {{/for}}
	</div>
</div>

  
  
  <div class=itemContent">
    {^{:~link('Clear scans', 'gear' ,{ 'clear': 1})}}
  </div>
</div>