<!-- 
Title: Astronavigation UI 
Used In File(s): \code\modules\telesci\navconsoles.dm
 -->

<h3>Detected Systems:</h3>
<div class="item">
	<div class="itemContent">
		{{:~link(systemname1,{'setarget1': 1})}}
		{{:~link(systemname2,{'setarget2': 1})}}
	</div>
</div>
<h3>Current System:</h3>
<div class="item">
  <div class="itemContent">
    {{:systemname}}
    {{:systemtype}}
    {{:systemlum}}
  </div>
  <div class=itemContent">
    {{:~link('Clear scans',{ 'clear': 1})}}
  </div>
</div>

